body {
            background-color: lightblue;
            color: black;
            font-family: Arial, sans-serif;
        }
        /* 2. fonts 
        - Google Fonts
        */
        h1{
            border-top-style: solid;
            border-bottom-style: solid;
            border-left-style: double;
            border-right-style: double;
            border-left-width: 10px;
            border-left-color: silver;
            color: darkblue;
            font-family: "Playwrite AU NSW";
        }
        p {
            background-color:grey; 
            color:darkblue;
            font-family: consolas, sans-serif;
            font-style: italic;
            font-weight: bold;
            text-decoration: purple dotted underline;
        }

        /* 3. borders: dashed, dotted, ridge, inset, outset, etc*/
        #p1
        {
            border-style:ridge;
            border-width: 5px;
            border-color: darkblue;
            border-radius: 10px;
            padding: 5px; /* padding is the space inside the border */
            background-color: lightgrey;
            color: darkblue;
        }

        .odd
        {
            color: red
        }

        .even
        {
            color: green
        }

        /* 4. background: */
        body {
            /* margin */
            /* margin-top: 50px; 
            margin-left: 50px; 
            margin-right: 50px; 
            margin-bottom: 50px;  */
            /* or can use this instead */
            /* margin: 50px; */
            
            background-image: url("Halong Bay Island.jpg");
            background-repeat: no-repeat; /* prevents the background from repeating */
            background-attachment: fixed; /* keeps the background fixed during scrolling */
            background-position: center; /* centers the background image */
            background-size: cover; /* scales the background image to cover the entire viewport */
        }

        h1{
            background: linear-gradient(to right, lightblue, white);
            background-repeat: no-repeat; 
            background-attachment: fixed; 
        }

        p{
            background: linear-gradient(to right, lightblue, white);
            background-repeat: no-repeat; 
            background-attachment: fixed; 
        }

        /* 5. margin is space around an element, outside the border */
        /* padding is the space between the content and the border */
        #box1
        {
            border: 5px solid darkblue;
            width: 250px;
            height: 250px;
            font-size: 22px;
            background: greenyellow;
            padding: 50px; /* padding inside the box */
            /* margin: 50%; sets margin to 50% of the viewport width */
            margin-left: auto;
            margin-right: auto;
            /* centers the box horizontally */
            /* posittion: static; default position */
        }

        #box2
        {
            border: 5px solid darkblue;
            width: 250px;
            height: 300px;
            font-size: 22px;
            background: dodgerblue;
        }

        img {
            float: left; /* positions the image to the left */
        }

        .box
        {
            width: 100px;
            height: 100px;
            border: 1px solid;
            font-size: 40px;
            text-align: center;
            background-color: tomato;
            float: left;
        }

        p{
            /* clear:left; clears the float, ensuring the paragraph starts below the floated elements */
            clear: both; /* clears both left and right floats */
        }

        /*8. pusedo class*/
        /* default color */
        a:link{
            color: lawngreen;
        }

        /* clicked */
        a:visited{
            color:grey;
        }

        /* move cusor around elements */
        a:hover{
            color: tomato;
        }

        /* click on the link */
        a:active{
            color: yellow;
        }

        button:hover{
            color: grey;
            background-color: black;
        }

        button:active{
            background-color: white;
        }

        /* li:nth-child(2){
            background-color: tomato;
        } */

        /* li:nth-child(odd){
            background-color: skyblue;
        } */

        li:nth-child(4n){
            background-color: powderblue;
        }
            

    